<%- include ("partials/header") %>
<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p>
      <a class="btn btn-lg btn-primary" href="/home/tutorial" role="button">Tutorial »</a>
    </p>
  </div>
</div>
<%- include ("partials/footer") %>