<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Judge</title>
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">
  <link href="../css/mdb.min.css" rel="stylesheet">
  <style>
    .button {
      border-color: blue;
      border-width: 1.5px;
}
    .img {
      padding: 5px 5px 5px 5px;
      margin: -1.5px -1px -1.5px -6px;

    }
    .card {
      background: #fff;
      border-radius: 2px;
      display: inline-block;
      position: relative;
    }
    .card-2:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    body {
      box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
      background-image: url(/img/bg.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;       
    }

  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-4 mx-auto">
        <div class="card o-hidden border-0 shadow-lg my-5" style="width: 120%;">
          <div class="card-body" style="align-items: center;">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Student, Teacher FPT University</h1>
            </div>
            <% if (message.length > 0) { %>
            <div class="alert alert-danger col-sm-12 animated shake fast" align=center><%= message %></div>
            <% } %>
            <!-- <form class="user" method="GET" action="/google"> -->
              <!-- <div class="form-group"> -->
                <!-- <input type="text" class="form-control form-control-user" name="user_name" value="<%=username%>"
                  placeholder="Username">
              </div> -->
              <!-- <div class="form-group">
                <input type="password" class="form-control form-control-user" name="password" placeholder="Password">
              </div> -->
              <!-- <div class="form-group">
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="materialInline1" name="role" checked value="Student">
                  <label class="form-check-label" for="materialInline1">Student</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="materialInline2" name="role" value="Teacher">
                  <label class="form-check-label" for="materialInline2">Teacher</label>
                </div>
              </div> -->
              <!-- <button type="submit" class="btn btn-deep-orange btn-user btn-block">Login </button> -->
              <a class="card card-2" href="/google" style="margin-left: 85px;"><button type="submit" class="button" style="background-color: #5882FA; "><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" class="img" style="width:max-content; background:white;" alt=""><h9 style="padding-left: 5px; color: white">Sign in with Google</h9></button></a>
            <!-- </form> -->
            
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>