body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F8F8F8;
  position: relative;
}

.count-down-time {
  color: #ee4035;
  display: inline-flex;
  justify-content: space-between;
  min-height: 35px;
  min-width: 175px;
  align-items: flex-start
}

.count-down-time.finished {
  color: #000;
  justify-content: center;
  align-items: flex-end
}

.count-down-part {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  position: relative;
  min-width: 2em
}

.count-down-part[data-label]::before {
  content: attr(data-label);
  color: #898989;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-top: 5px;
  transform: translate(-50%, 100%)
}

.container {
  max-width: 1200px!important
}

.container-fluid {
  max-width: 1500px!important
}

.bc-icons .breadcrumb-item+.breadcrumb-item::before {
  content: none;
}

.bc-icons .breadcrumb-item.active {
  color: #eeeeee;
}

.breadcrumb {
  background: #F0F0F0
}

.badge-gray {
  color: #fff !important;
  background-color: #6e707e !important;
}

.btn-gray {
  color: #6e707e!important;
}

.btn-outline-blue {
  color: #4287f5;
  border-color: #4287f5;
}

.navbar-custom {
  top: 0;
  left: 0;
  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, .9);
  width: 100%;
}

.navbar-custom li {
  margin: 0 13px;
}

.navbar-custom .nav-item:hover {
  border-bottom: 3px solid #e65100;
}

.navbar-custom .nav-item {
  border-bottom: 3px solid rgba(255, 255, 255, .9);
}

.navbar-custom .nav-item.select {
  border-bottom: 3px solid #e65100;
}

.navbar .nav-link:hover {
  color: #e65100 !important;
}

.navbar .nav-item.select .nav-link {
  color: #e65100 !important;
}

.dropdown-item {
  box-shadow: none !important;
}

.solved {
  background: no-repeat center/32px url(../img/check.svg);
}

.attempted {
  background: no-repeat center/32px url(../img/cross.svg);
}

.scrollspy-example {
  height: 360px;
}

.scrollbar-light-blue::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-light-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-light-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #82B1FF;
}

.scrollbar-light-blue {
  scrollbar-color: #82B1FF #F5F5F5;
}

.testcases {
  min-height: 17px;
}

.testcases span {
  display: block;
  float: left;
  border: 1px solid #C9C9C9;
  margin-left: 2px;
  padding: 0px;
  text-align: center;
  border-radius: 4px;
  font-size: 11px;
  height: 17px;
  width: 17px;
  background-color: #F9F9F9;
  padding-top: 1px;
}

.accepted {
  color: #35BD40;
  font-weight: bold;
}

.rejected {
  color: #F20707;
  font-weight: bold;
}

.file_upload {
  min-height: 180px;
}

.file_upload, .switch_button {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.03);
  padding: 23px;
}

.file_upload .message, .switch_button .message {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.file_upload [type=file] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.open-ace {
  margin-top: 15px;
  display: block;
}

.btn-sm {
  text-transform: unset !important;
  padding: .4rem 1rem !important;
  font-size: 12px !important;
  margin-left: 0;
  margin-right: 0;
}

.btn {
  border-radius: 3px !important;
  box-shadow: none !important;
}

.m-left {
  margin-left: 0 !important;
}

.m-right {
  margin-right: 0 !important;
}
.md-form {
  margin-top: 0 !important;
}

/* Hamburger menu icon animations */

.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
  background: #e65100;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}