<%- include ("partials/header") %>
<script type="text/javascript">
    
    function Ajax() {
        var xmlHttp;
        try {
            xmlHttp = new XMLHttpRequest();// Firefox, Opera 8.0+, Safari
        }
        catch (e) {
            try {
                xmlHttp = new ActiveXObject("Msxml2.XMLHTTP"); // Internet Explorer
            }
            catch (e) {
                try {
                    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                catch (e) {
                    alert("No AJAX!?");
                    return false;
                }
            }
        }

        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4) {
                document.getElementById('ReloadThis').innerHTML = xmlHttp.responseText;
                setTimeout('Ajax()', 2000);
            }
        }
        xmlHttp.open("GET", "/contest/data-rank?contest_id=<%=data[0].contest_id%>", true);
        xmlHttp.send(null);
    }

    window.onload = function () {
        setTimeout('Ajax()', 0);
    }
    
</script>
        <!-- <div class="progress-bar bg-success" style="width: 100%">Hết thời gian làm bài</div>; -->
   
    
<div id="ReloadThis" class="container">Bảng xếp hạng đang được tải... </div>
<%- include ("partials/footer") %>